<h2>Previous Versions</h2>

<table class='table'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>Author</th>
      <th>Event</th>
      <th>Word Count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- document.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.created_at %></td>
        <td><%= version.author_username %></td>
        <td><%= version.event.humanize %></td>
        <td><%= version.word_count %></td>
        <td><%= link_to 'Diff', diff_document_version_path(document, version) %></td>
        <td><%= link_to 'Rollback', rollback_document_version_path(document, version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>